/*
Nombre: Juan Camilo Arroyave Rico
Programa de Formación: Producción de Multimedia
Institución: Servicio Nacional de Aprendizaje SENA
Evidencia: Laboratorio Web
*/

/*Estilos generales*/

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #f0f0f0;
	font-family: 'Lato', sans-serif !important;
	transition: background-color .5s;
	margin: 0;
	overflow-x: hidden;
}

hr {
	border: 0;
	height: 1px;
	background-color: #000;
	color: #000;
}
/*Barra de navegación y header*/

.navigation {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 10px;
	transition: 0.5s;
	z-index: 2;
}
.menu {
	float: right !important;
	position: relative !important;
}
.navigation ul {
	list-style-type: none;
	margin-top: 50px;
}
.navigation a {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 35px;
	margin-right: 35px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.navigation a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}
.navigation .closebtn {
	position: absolute;
	top: 0;
	margin-top: 0 !important;
	left: 25px;
	font-size: 36px;
	margin-left: 0px;
}
#burger {
	float: right;
}
#main {
	transition: margin-left .5s;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}

@media screen and (max-height: 450px) {
	.navigation {
		padding-top: 15px;
	}
	.navigation a {
		font-size: 18px;
	}
}
header {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 1px;
	/*Esta parte, esta pequeña parte permite que el header esté fijo todo el tiempo*/
	position: fixed;
	margin-top: 0px !important;
	width: 100%;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	z-index: 1 !important;
}
#brand {
	float: left !important;
	margin-right: 8%;
}
.navbar {
	padding-left: 50px;
	padding-right: 50px;
}
/*Estilos de elementos específicos*/

.front-image {
	background-image: linear-gradient(to bottom, rgba(181,53,177,0.78), rgba(181,53,177,0.78)), url(http://miroble.weebly.com/uploads/6/2/9/1/6291852/4534939_orig.jpg?321);
	background-size: cover;
	background-position: center;
	padding-bottom: 20px;
	/*Para que la imagen permanezca quieta*/
	background-attachment: fixed;
	display: flex;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	text-align: center;
	height: 100vh;
}
.hero-text {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color: white;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	background-color: rgba(0,0,0,0.60);
}
.btn1 {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color: #538F37;
	border-radius: 2px;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5b8a3c;
}
.btn1:hover {
	background-color: #72b352;
}
.btn1:active {
	position: relative;
	top: 1px;
}
.buttoncontainer {
	float: right !important;
	width: 10%;
	margin-right: 50px;
}
#hero2 {
	float: left !important;
	width: 50%;
	margin-left: 50px;
	font-size: 20px;
}
.banner {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}
.front-image2 {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://3.bp.blogspot.com/-7aS41Jn5uoM/U5iLkP9ueoI/AAAAAAAADJg/2vRwCZtekZc/s1600/robleinglaterra.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.text1 {
	text-align: center;
	font-size: 18px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.page-content {
	margin-bottom: 50px;
}
